*{margin: 0;}
html,body{width: 100%;}
.logo_form{height: 80px;background-color:white;text-align: center;}
.logotext_form{color: #000000;font-family: 'Noto Serif KR', serif;font-size: 2em;font-weight: 500;letter-spacing:
.1em;position: relative;top: 14px;}

.logotext_form a:link{text-decoration: none;color:#000000; }
.logotext_form a:visited{color:#000000;}
.logotext_form a:active{color:#000000;}
.logotext_form a:hover{color:#7a7979;}


.menu_form{height: 40px;background-color: #484848;text-align: center;}
.menutext_form{display: inline-block;margin:5px 70px 70px 20px;font-size: 1.1em;font-family:'Noto Serif KR', serif;font-weight: 300; }

.menutext_form a:link{text-decoration: none;color: white;}
.menutext_form a:visited{color: white;}
.menutext_form a:active{color: white;}
.menutext_form a:hover{color:#7a7979;}

#pr{height: 630px;width: 100%;background-size: cover;}

.p1{background-image: url(../img/bg_01.png);}
.p2{background-image: url(../img/bg_02.png);}
.p3{background-image: url(../img/bg_03.png);}

.posi{text-align: center;position: relative;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);}

.posi :hover{transform: scale(1.1);transition: 1s;}

 .footer_form{height: 80px; background-color: white;}
 .footertext_form{color: #000000;font-family: 'Noto Serif KR', serif;font-size:1.1em;font-weight: 400;text-align: center;position: relative;top: 35%;text-transform: uppercase;}

.p01_top{background-image: url(../img/p01_top.png);height: 500px;background-size:cover;}

.p02_top{background-image: url(../img/p02_top.png);height: 500px;background-size:cover;}

.p03_top{background-image: url(../img/p03_top.png);height: 500px;background-size:cover;}
